body{
    font-size: 50px;
    background: darkslategray;
    overflow: hidden;
    -webkit-box-shadow: 0 0 50px black inset;
    color: #0e2327;
}

#container{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#room{
    position: relative;
    -webkit-box-shadow: 0 0 30px black inset;
    height: 600px;
    width: 800px;
    background: lawngreen;
}

#map{
    position: absolute;
    bottom: 2%;
    right: 1%;
    -webkit-box-shadow: 0 0 30px black inset;
    height: 400px;
    width: 400px;
    background: darkolivegreen;
}

#inv{
    position: absolute;
    top: 2%;
    right: 1%;
    -webkit-box-shadow: 0 0 30px black inset;
    height: 450px;
    width: 400px;
    background: darkorange;
}

#console{
    position: absolute;
    bottom: 2%;
    left: 1%;
    -webkit-box-shadow: 0 0 30px black inset;
    height: 400px;
    width: 400px;
    background: darkslategray;
}

#menu{
    position: absolute;
    top: 2%;
    left: 1%;
    -webkit-box-shadow: 0 0 30px black inset;
    height: 450px;
    width: 400px;
    background: darkslategray;
    text-align: center;
}

#nroom{
    z-index: 3;
    position: absolute;
    top: 7%;
    height: 80px;
    width: 800px;
    background-image: linear-gradient(to top,saddlebrown 0%,black 90%);
    -webkit-box-shadow: 0 -10px 40px 30px black;
}

#sroom{
    z-index: 3;
    position: absolute;
    bottom: 7%;
    height: 80px;
    width: 800px;
    background-image: linear-gradient(to bottom,saddlebrown 0%,black 90%);
    -webkit-box-shadow: 0 10px 40px 30px black;
}

#wroom{
    z-index: 3;
    position: absolute;
    left:24%;
    justify-content: center;
    height: 600px;
    width: 80px;
    background-image: linear-gradient(to left,saddlebrown 0%,black 90%);
    -webkit-box-shadow:-10px 0 40px 30px black;
}

#eroom{
    z-index: 3;
    position: absolute;
    right:24%;
    justify-content: center;
    height: 600px;
    width: 80px;
    background-image: linear-gradient(to right,saddlebrown 0%,black 90%);
    -webkit-box-shadow:10px 0 40px 30px black;
}

#ndoor{
    z-index: 100;
    position: absolute;
    left: 35%;
    top: -4%;
    background: chocolate;
    height: 50px;
    width: 200px;
    -webkit-box-shadow:0 60px 120px 30px bisque;
}

#wdoor{
    z-index: 100;
    position: absolute;
    background: chocolate;
    top:33%;
    left:-3%;
    height: 180px;
    width: 50px;
    -webkit-box-shadow:60px 0 120px 30px bisque;
}

#edoor{
    z-index: 100;
    position: absolute;
    top: 33%;
    right: -3%;
    background: chocolate;
    height: 180px;
    width: 50px;
    -webkit-box-shadow:-60px 0 120px 30px bisque;
}

#sdoor{
    z-index: 100;
    position: absolute;
    left: 35%;
    bottom: -4%;
    background: chocolate;
    height: 50px;
    width: 200px;
    -webkit-box-shadow:0px -60px 120px 30px bisque;
}

.invitem{
    background: chocolate;
    margin: 10px 20px;
    width: 360px;
    height: 78px;
}

.item{
    font-size: 30px;
    color: blue;
    position: absolute;
    width: 95px;
    height: 70px;
}

.doorNImg{
    position: absolute;
    left: 25%;
    top: -150%;
    width: 90px;
    height: 150px;
}

.doorWImg{
    position: absolute;
    left: 25%;
    width: 50px;
    height: 170px;
}

.doorEImg{
    position: absolute;
    right: 25%;
    width: 50px;
    height: 170px;
}

.doorSImg{
    position: absolute;
    bottom: -50%;
    left: 25%;
    width: 90px;
    height: 150px;
}
