@font-face {
    font-family: 'alagardmedium';
    src: url('fonts/alagard/alagard-webfont.woff2') format('woff2'),
    url('fonts/alagard/alagard-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'alagardmedium';
    font-size: 50px;
    background: darkslategray;
    overflow: hidden;
    -webkit-box-shadow: 0 0 50px black inset;
    color: ghostwhite;
}

#container{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#room{
    position: relative;
    -webkit-box-shadow: 0 0 30px black inset;
    height: 600px;
    width: 800px;
    background: lawngreen;
}

#map{
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 2%;
    right: 1%;
    -webkit-box-shadow: 0px 0px 60px black;
    background: darkolivegreen;
    height: 427px;
    width: 427px;
}

#inv{
    position: absolute;
    top: 2%;
    right: 1%;
    -webkit-box-shadow: 0 0 30px black inset;
    height: 450px;
    width: 400px;
    background: darkorange;
}

#console{
    position: absolute;
    bottom: 2%;
    left: 1%;
    -webkit-box-shadow: 0 0 30px black inset;
    height: 320px;
    width: 400px;
    background: darkslategray;
    color: red;
    font-size: 26px;
    text-align: center;
    padding: 50px 10px;
}

#menu{
    line-height: 40px;
    font-family: 'alagardmedium';
    position: absolute;
    top: 2%;
    left: 1%;
    -webkit-box-shadow: 0 0 30px black inset;
    height: 450px;
    width: 400px;
    background: darkslategray;
    text-align: center;
    font-size: 28px;
}

#nroom{
    z-index: 3;
    position: absolute;
    top: 7%;
    height: 80px;
    width: 800px;
    background-image: linear-gradient(to top,saddlebrown 0%,black 90%);
    -webkit-box-shadow: 0 -10px 40px 30px black;
}

#sroom{
    z-index: 5;
    position: absolute;
    bottom: 7%;
    height: 80px;
    width: 800px;
    background-image: linear-gradient(to bottom,saddlebrown 0%,black 90%);
    -webkit-box-shadow: 0 10px 40px 30px black;
}

#wroom{
    z-index: 3;
    position: absolute;
    left:24%;
    justify-content: center;
    height: 600px;
    width: 80px;
    background-image: linear-gradient(to left,saddlebrown 0%,black 90%);
    -webkit-box-shadow:-10px 0 40px 30px black;
}

#eroom{
    color: #5e5114;
    z-index: 3;
    position: absolute;
    right:24%;
    justify-content: center;
    height: 600px;
    width: 80px;
    background-image: linear-gradient(to right,saddlebrown 0%,black 90%);
    -webkit-box-shadow:10px 0 40px 30px black;
}

#ndoor{
    z-index: 4;
    position: absolute;
    left: 45%;
    top: -20%;
    width: 90px;
    height: 150px;
    -webkit-box-shadow:0 120px 120px 20px bisque;
}

#ndoor:hover{
    transform: scale(1.05);
    cursor: n-resize;
}

#wdoor{
    z-index: 4;
    position: absolute;
    top:40%;
    left:-5%;
    width: 50px;
    height: 120px;
    -webkit-box-shadow:60px 0 120px 20px bisque;
}

#wdoor:hover{
    transform: scale(1.05);
    cursor: w-resize;
}

#edoor{
    z-index: 4;
    position: absolute;
    top: 40%;
    right: -5%;
    width: 50px;
    height: 120px;
    -webkit-box-shadow:-60px 0 120px 20px bisque;
}

#edoor:hover{
    transform: scale(1.05);
    cursor: e-resize;
}

#sdoor{
    z-index: 4;
    position: absolute;
    left: 45%;
    bottom: -15%;
    width: 90px;
    height: 150px;
    -webkit-box-shadow:0px -120px 120px 20px bisque;
}

#sdoor:hover{
    transform: scale(1.05);
    cursor: s-resize;
}

.invitem{
    background: chocolate;
    margin: 10px 20px;
    width: 360px;
    height: 78px;
}

.item{
    font-size: 30px;
    color: blue;
    position: absolute;
    width: 80px;
    height: 80px;
}

.item:hover{
    transform: scale(1.05);
    cursor: grabbing;
}

#doorNImg{
    position: absolute;
    width: 90px;
    height: 150px;
}

#doorWImg{
    top: -20%;
    position: absolute;
    width: 50px;
    height: 170px;
}

#doorEImg{
    top: -20%;
    position: absolute;
    width: 50px;
    height: 170px;
}

#doorSImg{
    position: absolute;
    width: 90px;
    height: 150px;
}

.x{
    position: absolute;
    right:0%;
}

.x:hover{
    transform: scale(1.2);
}

.mapPart{
    width: 7px;
    height: 7px;
}

#nmenu{
    width: 220px;
    height: 100px;
    z-index: 6;
    position: absolute;
    left:60%;
    top: -20%;
    background: darkslategray;
    border:darkslategray solid 1px;
    border-radius: 30px;
    padding: -10px;
    opacity: 50%;
}

#wmenu{
    width: 100px;
    height: 215px;
    z-index: 6;
    position: absolute;
    left: -15%;
    top: 65%;
    background: darkslategray;
    border:darkslategray solid 1px;
    border-radius: 30px;
    padding: -10px;
    opacity: 50%;
}

#emenu{
    width: 100px;
    height: 215px;
    z-index: 6;
    position: absolute;
    right: -15%;
    top: 65%;
    background: darkslategray;
    border:darkslategray solid 1px;
    border-radius: 30px;
    padding: 0px;
    opacity: 50%;

}

#smenu{
    width: 220px;
    height: 100px;
    z-index: 6;
    position: absolute;
    bottom: -20%;
    left: 60%;
    background: darkslategray;
    border:darkslategray solid 1px;
    border-radius: 30px;
    padding: -10px;
    opacity: 50%;
}

#message{
    position: absolute;
    z-index: 10;
    font-size: 30px;
    background: darkslategray;
    color: greenyellow;
    border: whitesmoke dotted 2px;
    border-radius: 30px;
    padding: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    top: 0%;
}

.character{
    position: absolute;
    height: 50px;
    width: 50px;
}

.player {
    position: absolute;
    font-size: 20px;
    line-height: 60px;
}

.playericon{
    height: 140px;
    width: 100px;
}

.playericon:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.menuitem:hover{
    transform: scale(1.05);
    filter: brightness(150%);
    cursor: pointer;
}
